body {
  background-color: #111;
  color: #ddd;
}
main {
  display: grid;
  grid-template-columns: 15% 13% 1fr 13% 15%;
}
.article-wide {
  grid-column: 2 / span 3;
}
.article-narrow {
  grid-column: 3;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
header h1 {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}
figure {
    margin: 0;
}
img {
  width: 100%;
}
.nav-container {
    display: flex;
}
ul {
    list-style: none;
}